<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../dist/styles/jquery.carousel-3d.default.css" />

	<script src="../bower_components/jquery/jquery.js"></script>
	<script src="../bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
	<script src="../bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
	<script src="../bower_components/modernizr/modernizr.js"></script>
	<script src="../dist/jquery.carousel-3d.js" ></script>
</head>
<body>
	<div id="wrapper">
    <div id="myCarousel" data-carousel-3d>
        <img src="./images/1.jpg" />
        <img src="./images/2.jpg" selected />
        <img src="./images/3.jpg" />
        <img src="./images/4.jpg" />
        <img src="./images/5.jpg" />
    </div>
</div>
	
</body>
</html>